<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form th:action="@{/square}" method="post">
    <h1>Alejandro Coves Bolaños</h1>
    <h2>Square Checker</h2>
    <br>
    <table>
        <tr>
            <td>Number 1:</td>
            <td><input type="text" name="number1" /></td>
        </tr>
        <tr>
            <td>Number 2:</td>
            <td><input type="text" name="number2" /></td>
        </tr>
        <tr>
            <td><button type="submit">Check</button></td>
        </tr>
    </table>
</form>
</body>
</html>